.mainNav {
  min-width: max-content;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  color: var(--dark-text-color);
  font-size: 1.3rem;
}

.mainNav h4 {
  margin-top: auto;
}

.mainNav p {
  line-height: 0;
}

.mainNav ul {
  font-weight: bold;
  padding: 1rem;
  list-style-type: none;
}

.mainNav li{
  padding: 1rem 0 1rem 0;
}

.logoutSection {
  display: flex;
  margin: 2rem 0 0 0;
}

.logoutButton {
  border: none;
  background: none;
  color: var(--dark-text-color);
  font-weight: bold;
 
}



