.header {
  display: flex;
  align-items: center;
  padding: 2rem 3rem 1.2rem;
  color: var(--light-text-color);
}

.userWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.userWrapper h1 {
  margin: 0 0 0 1rem;
}

.avatar {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: var(--light-text-color);
}

