.grid {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    'header header'
    'nav main'
    'nav footer';
}

/* 'composes' adds grid-area property from /dashboard.grid.css */
.header {
  composes: gridHeader from '/styles/dashboard.grid.css';
  background-color: var(--main-color);
}

.nav {
  composes: gridNav from '/styles/dashboard.grid.css';
  background-color: var(--secondary-color);
}

.main {
  composes: gridMain from '/styles/dashboard.grid.css';
  color: var(--dark-text-color);
  background-color: var(--light-text-color);
  font-size: 1.3rem;
}

.footer {
  composes: gridFooter from '/styles/dashboard.grid.css';
  background-color: var(--main-color);
}
