/*
 | Grid template areas have to be defined outside css module 
 | because the module automatically changes the class name. 
*/

.gridHeader {
  grid-area: header;
}

.gridNav {
  grid-area: nav;
}

.gridMain {
  grid-area: main;
}

.gridFooter {
  grid-area: footer;
}
